<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="/src/main/resources/static/js/main.js"></script>

    <title>Epidemic Allimie</title>
</head>
<body>
    <div class="intro">
        <div class="inner">
            <div class="logo">
                <img src="../static/images/logo.webp" alt="logo" class="fade-in">
                <p class="fade-in">유행병 알리미를 통해 이 달의 유행하는 질병에 대해 알아보고 예방해요.</p> 
            </div>
            <a class="introBtn fade-in" href="main.html">
                메인으로 가기
            </a>
            <img src="../static/images/gdsclogo.webp" alt="gdsc" class="gdsc fade-in">
        </div>
            
    </div>
</body>
</html>