<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유행 질병 정보 및 접종 병원 찾기</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header>
        <div class="inner">
            <a href="./intro.html">
                <img src="../static/images/logo.webp" >
            </a>
        </div>   
    </header>
    <div class="main"> 
        <div class="inner">
            <div class="title">2월 감염병 정보</div> 
            <hr>
            <div class="epidem-list">
                <div class="epidem-info">
                    <div class="tag">
                        <p class="season">
                            겨울철
                        </p>
                        <p class="speciality">소아과</p>
                    </div>
                    <div class="epidem-name">로타바이러스(Rotavirus)</div>
                    <div class="epidem-comment">
                        로타 바이러스에 감염되어 구토와 발열, 묽은 설사, 탈수증이 나타나는 질환
                    </div>
                    <a href="./info.html" class="infoBtn">
                        자세히 알아보기
                    </a>
                </div>
            </div>
            <div class="epidem-list">
                <div class="epidem-info">
                    <div class="tag">
                        <p class="season">
                        일년내내
                        </p>
                        <p class="speciality">호흡기내과</p>
                        <p class="speciality">소아과</p>
                    </div>
                    <div class="epidem-name">아데노바이러스(Adenovirus)</div>
                    <div class="epidem-comment">
                    Adenoviridae과에 속하는 DNA 바이러스로 호흡기감염증, 위장관염, 유행성각결막염, 출혈성방광염, 뇌수막염 등이 나타나는 질환
                    </div>
                </div>
                
                <a href="./info.html" class="infoBtn">
                    자세히 알아보기
                </a>
            </div>
            <div class="epidem-list">
                <div class="epidem-info">
                    <div class="tag">
                        <p class="season">
                            겨울철
                        </p>
                        <p class="speciality">호흡기내과</p>
                        <p class="speciality">가정의학과</p>
                    </div>
                    <div class="epidem-name">인플루엔자(Influenza)</div>
                    <div class="epidem-comment">
                        인플루엔자 바이러스에 의한 급성 호흡기 질환
                    </div>
                    
                </div>
                
                <a href="./info.html" class="infoBtn">
                    자세히 알아보기
                </a>
            </div>
            <div class="epidem-list">
                <div class="epidem-info">
                    <div class="tag">
                        <p class="season">
                            겨울철
                        </p>
                        <p class="speciality">호흡기내과</p>
                        <p class="speciality">소아과</p>
                    </div>
                    <div class="epidem-name">리노바이러스(Rhinovirus)</div>
                    <div class="epidem-comment">
                        피코르나바이러스(Picornavirus)에 속하는 RNA 바이러스로 감기의 가장 흔한 원인
                    </div>
                </div>
                
                <a href="./info.html" class="infoBtn">
                    자세히 알아보기
                </a>
            </div>
            <div class="epidem-list">
                <div class="epidem-info">
                    <div class="tag">
                        <p class="season">
                            여름철
                        </p>
                        <p class="speciality">호흡기내과</p>
                        <p class="speciality">소아과</p>
                    </div>
                    <div class="epidem-name">엔테로바이러스71형(Enterovirus-71)</div>
                <div class="epidem-comment">
                    Enterovirus 71(EV71) 바이러스에 의한 수족구병 감염으로 발열, 구토, 투콩, 기면상태, 경련 등이 나타나는 질환
                </div>
                
                </div>
                
                <a href="./info.html" class="infoBtn">
                    자세히 알아보기
                </a>
            </div>   
        </div>    
    </div>
    <footer>
        <p>&copy; 2024 유행 질병 정보 웹페이지</p>
    </footer>
</body>
</html>